* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
    }

header {

  }

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
    }

img {
  position: absolute;
  width: 25vh;
  align-self: flex-start;
  }

h1 {
  position: absolute;
  color: gray;
  font-size: 4vh;
  margin-top: 80vh;
  text-align: center;
  width: 22vh;


  }

/* drag */
.draggable img {
  cursor: pointer;
}
